<header>
  <a href="/">Xenol</a>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>

    <a href="/product">product</a>
    <% if(locals.isloggedIn){ %>
    <a href="/logout">logout</a>

    <% }else{ %>

    <a href="/login">login</a>
    <%}%>

    <a href="/register">Register</a>
  </nav>
</header>
