<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About xenol</title>
    <link rel="stylesheet" href="./css/main.css" />
  </head>
  <body>
    <% -include('partials/header') %>
    <main class="about-main">
      <h2>what we do</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate
        alias reiciendis repellendus nostrum inventore necessitatibus ratione
        esse laudantium laborum autem. Quis velit, doloremque esse rem eius ab
        obcaecati tenetur distinctio!
      </p>
    </main>

    <% -include('partials/header') %>
  </body>
</html>
