<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>xenol -stay protected online</title>
    <link rel="stylesheet" href="./css/main.css" />
  </head>
  <body>
    <%- include('partials/header')%>
    <main class="main-main">
      <h1>welcome to xenol</h1>
      <h2>digital security at its best</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem distinctio
        nemo modi eius sapiente eaque asperiores mollitia vitae, obcaecati
        autem!
      </p>
    </main>

    <%-include('partials/footer') %>
  </body>
</html>
